@import "./../global.module.scss";

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    &__inner {
        background: $colorRed;
        color: $colorWhite;
        padding: 24px;
        text-align: center;
    }
}